fastapi
uvicorn[standard]
sqlalchemy[asyncio]
alembic
asyncpg==0.30.0
pyjwt
pwdlib[argon2]
authlib
httpx
itsdangerous
pydantic
pydantic-settings
pydantic[email]
slowapi
python-multipart
pdfplumber
google-genai